@import "colors.scss";
@import "preloader.scss";

html, body {

    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #212529;   

    .text-center {
        text-align: center
    }   

    .container {
        display: flex;
        justify-content: center; 
        align-items: center;   
        flex-direction: column;
        height: 100%;    
        margin: 0 auto;    
    }

    .section {
        width: 90% !important;
        margin: 0 auto;
    }

    .inline-flex {
        display: inline-flex;
        align-items: center;
        padding-left: 9vw;
        height: 5.5vw;
    }
    
    .date  {
        font-size: 7vw;
    }
    
    .yearLetters, .time {
        font-size: 4vw;
    }
    
    .time {
        height: 4.5vw;
    }
    
    .yearLetters {
        padding-left: 1vw;
    }
    
    .alias {
        font-size: 3vw;
    }

    /* calendar styles */ 

    table {
        background-color: white;
        border-collapse: collapse;
        font-family: Tahoma,Geneva,sans-serif;
        margin: 20px 5px;
        border-radius: 4px;

        thead {
            display: block;
            margin: 4px 4px 0px 4px; 
    
            .calendar-month-title {
                font-weight: bold;
                width: 100% !important;
            }
        }

        tbody {
            display: block;
            margin: 0px 4px 4px 4px;
        }

        td,th{
            display: inline-block;
            float: left;
            height: 36px;           
            margin: 1px 0.17vw;
            line-height: 36px;
            text-align: center;
            font-size: 12px;
            font-weight: lighter;
            cursor: default;
            transition: color 0.1s,background-color 0.2s;
            border-radius: 18px;
        }
    }

    .free-month, .four-month {

        align-content: center;

        height: 50%;

        display: -webkit-flex;
        display: flex;

        -webkit-justify-content: space-around; /* Safari */
        justify-content:         space-around;

        -webkit-flex-direction: row; /* Safari */
        flex-direction:         row;

        table {
            width: 28vw;

            td, th {
                width: 3.4vw;
            }
        }
    }

    .four-month {

        margin-bottom: 10px;

        table {

            width: 21vw;

            td, th {
                width: 2.4vw;
            }
        }
    }


    .calendar-month {
        display: flex;
        flex-wrap: wrap;
        
    }

    .calendar-day {
        padding: 5px;
    }

    .today {
        background-color: rgba(255, 0, 0, 0.01);
        font-weight: 900;
        box-shadow: 1px 1px 2px 0px grey;
    }

    
}





@media (max-width:1280px){
    
    .free-month, .four-month {        
        flex-direction:         column !important;
    }

    table {
        margin: 10px auto !important;
        width: 61vw !important;
    }

    th, td {
        width: 7.9vw !important;
    }

       
}

@media (max-width:768px) {
    table {
        width: 63vw !important;
    }

}

@media (max-width:425px) {
    table {
        width: 64vw !important;
    }
}

@media (max-width:375px) {
    table {
        width: 65vw !important;
    }
}

@media (max-width:320px) {
    table {
        width: 67vw !important;
    }
}
