@import "vars";

/*==========  Desktop First  ==========*/

@media (max-width:1280px){

    html, body {
        overflow: -moz-scrollbars-vertical; 
        overflow-y: scroll; 
    }
    
    .free-month, .four-month {        
        flex-direction:         column !important;
    }

    table {
        margin: 10px auto !important;
        width: 61vw !important;
    }

    th, td {
        width: 7.9vw !important;
    }

       
}

@media (max-width: 1024px) {

    .inline-flex {
        height: 7.5vw !important;
        padding-left: 11.3vw !important;

        .date {
            font-size: 9vw !important;
        }

        .year-letters {
            font-size: 5vw !important;
            padding-left: 1.3vw !important;
        }
    }

    .time {
        font-size: 5vw !important;
        height: 5.5vw !important;
    }

    .alias {
        font-size: 4.2vw !important;
    }

}

@media (max-width:768px) {
    table {
        width: 63vw !important;
    }

    .signature img {
        width: 20vw !important;
    }

}

@media (max-width:425px) {
    table {
        width: 64vw !important;
    }

    .signature {
        display: none;
        bottom: 5px !important;        
        right: 5px !important;
    }

    .signature img {
        width: 25vw !important;
    }
}

@media (max-width:375px) {
    table {
        width: 65vw !important;
    }
}

@media (max-width:320px) {
    table {
        width: 67vw !important;
    }
}
