@import "_vars.scss";

.Michael-color {
    color: $Michael_color !important;
    font-family: "Roboto-Bold" !important;
}

.Egor-color {
    color: $Egor_color !important;
    font-family: "Roboto-Bold" !important;  
}

.Sergius-color {
    color: $Sergius_color !important;
    font-family: "Roboto-Bold" !important;
}

.Elia-color {
    color: $Elia_color !important;
    font-family: "Roboto-Bold" !important;
}

.Van-color {
    color: $Van_color !important;
    font-family: "Roboto-Bold" !important;  
}

.Lexius-color {
    color: $Lexius_color !important;
    font-family: "Roboto-Bold" !important;    
}

.Catharina-color {
    color: $Catharina_color !important;
    font-family: "Roboto-Bold" !important;   
}